/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .contact-info {
    flex: 1;
    text-align: left;
    margin-right: 10px;
  }
  
  .contact-info h4 {
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .copy-right {
    flex: 1;
    text-align: right;
    margin-left: 10px;
    padding-right: 10px;
  }
  
  .footer-divider {
    flex-basis: 1px;
    background-color: #ccc;
    margin: 0 10px;
  }
  .contact-info {
    display: inline;
  } */

  .footer {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info {
    margin-bottom: 10px;
  }
  
  .contact-info a {
    color: #000;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  
  .contact-info p {
    margin: 0;
  }
  
  
  
  
  
  